footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-top: 2px solid #1c1c1c;
  background-color: #fff;
}

.footer-container {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.copy-paragraph {
  font-weight: 500;
  margin: 0;
}
